<!DOCTYPE html>
<html lang="en">

<!-- Include head -->
<%- include('./partials/head.ejs') %>

    <body>
        <!-- Navbar -->
        <%- include('./partials/nav.ejs') %>


            <h1>THIS IS about PAGE </h1>


            <!-- Footer -->
            <%- include('./partials/footer.ejs') %>
    </body>

</html>