<!DOCTYPE html>
<html lang="en">

<!-- Include head -->
<%- include('./partials/head.ejs') %>

    <body>
        <!-- Navbar -->
        <%- include('./partials/nav.ejs') %>

            <div class="page-h1">
                <h1>Vaihda salasana</h1>
                <p>Sinun pitää muista vanha salasana, jotta voit vaihtaa sen uuteen!</p>
            </div>

            <section class="register-section">
                <form action="/changepassword" method="POST" class="form-section">
                    <label for="username">Username: </label>
                    <input type="text" id="username" name="username">
                    <br />
                    <label for="password">old password: </label>
                    <input type="text" id="password" name="oldpassword">
                    <label for="password">new password: </label>
                    <input type="text" id="password" name="newpassword">

                    <button>Submit</button>
                </form>

                <button>Change your password</button>
            </section>



            <!-- Footer -->
            <%- include('./partials/footer.ejs') %>
    </body>

</html>