<!DOCTYPE html>
<html lang="en">

<!-- Include head -->
<%- include('./partials/head.ejs') %>

    <body>
        <!-- Navbar -->
        <%- include('./partials/navRegistered.ejs') %>

            <main>

                <section class="create-content">
                    <h1>Kirjoita uusi blogiteksti </h1>
                    <p>Lisää tekstiäsi kuvaava otsikko jotta lukijat tietää mistä kirjotat. </p>
                </section>

                <div class="form-container">
                    
                    <form class="form" action="/home" method="POST">
                        <img src="" alt="">
                        
                        <label for="title">blogin otsikko</label>
                        <input type="text" id="title" name="title">
                        
                        <label for="body">Blogiteksti</label>
                        <textarea name="body" id="body" cols="30" rows="10" ></textarea>
                        
                        <button>submit</button>

                        
                        
                            
                        
                        
                        
                        
                    </form>
                </div>

                

            </main>


            <!-- Footer -->
            <%- include('./partials/footer.ejs') %>
    </body>

    

</html>