<!DOCTYPE html>
<html lang="en">

<!-- Include head -->
<%- include('./partials/head.ejs') %>

<body>
    <!-- Navbar -->
    <%- include('./partials/nav.ejs') %>


    <section class="home-section">

        <h1>Tervetuloa blogi sivustollemme</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum vel numquam iste, est commodi molestias voluptatibus animi eveniet distinctio! Ipsum ratione reiciendis minus placeat quis aliquam distinctio explicabo! Amet fuga sequi possimus enim soluta culpa inventore quidem, rem debitis porro qui tempore sint! Doloribus cupiditate molestias maxime aliquid perferendis! Vitae, quae? Saepe aut repudiandae illum vel explicabo aliquid accusantium totam obcaecati eius aperiam quos temporibus, perferendis rem ipsa, veniam excepturi. Atque, tempora debitis perspiciatis ea eum magni voluptatum quam quia modi recusandae mollitia itaque? Totam dolores autem, et maxime, obcaecati fuga voluptate dicta cumque cupiditate nesciunt est possimus, ipsam dolor.</p>

    </section>
    

    <!-- Footer -->
    <%- include('./partials/footer.ejs') %>
</body>
</html>