<!DOCTYPE html>
<html lang="en">

<!-- Include head -->
<%- include('./partials/head.ejs') %>

    <body>
        <!-- Navbar -->
        <%- include('./partials/nav.ejs') %>
            <div class="page-h1">
                <h1>Login</h1>
                <p>Jotta voit ruveta luomaan omaa blogia, sinun on ensiksi kirjauduttava sivullemme</p>
            </div>

            <section class="login-section">
                <form action="/login" method="POST" class="form-section">
                    <label for="username">Username: </label>
                    <input type="text" id="username" name="username" autocomplete="off">
                    <br/>
                    <label for="password">password: </label>
                    
                    <input type="password" id="password" name="password">
                    
                    <button>Submit</button>
                </form>
                <div class="changepass">
                    <a href="/changepassword">Change your password</a>
                </div>
                
            </section>



            <!-- Footer -->
            <%- include('./partials/footer.ejs') %>
    </body>

</html>