<!DOCTYPE html>
<html lang="en">

<!-- Include head -->
<%- include('./partials/head.ejs') %>

    <body>
        <!-- Navbar -->

        
        <%- include('./partials/navRegistered.ejs') %>

        <div class="secret-container">
            <h1>Tervetuloa joukkoomme <%= user %></h1>

            <p>Kiitos että tein tunnukset meidän sivullemme. Tällä sivustolla sinulla on mahdollisuus tuoda itseäsi, tunteitasi, tuotteitasi, yritystäsi ja monia muita lukemattomia asioita esille</p>
            <br>
            <p>Blogien kirjoittaminen voi olla välillä haastavaa mutta se tuo sinulle paljon hyvä asioita ja saat tuoda itseäsi esille tämän sivusto kautta</p>
            <br>
            <p>Jos sinulla on kysyttävää voit laittaa sähköpostin välityksellä viestiä sivun luojalle. Muista että sivusto ei ole tarkoitettu haukkumiseen ja tekstiesi on pysyttävä asiallisena</p>
        </div>
        


            <!-- Footer -->
            <%- include('./partials/footer.ejs') %>
    </body>

</html>