<!DOCTYPE html>
<html lang="en">

<!-- Include head -->
<%- include('./partials/head.ejs') %>

    <body>
        <!-- Navbar -->
        <%- include('./partials/navRegistered.ejs') %>


        <h1>Welcome back <%= user %></h1>


            <!-- Footer -->
            <%- include('./partials/footer.ejs') %>
    </body>

</html>