* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(243, 236, 236);
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}

nav {
    background: white;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;

}

.nav-header {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
}

.nav-toggle {

    cursor:pointer;

}

.nav-toggle:active {
    background: yellow;

}
.nav-toggle div {
    width: 20px;
    height: 4px;
    margin: 5px;
    background:green;
}
.links a {
    font-size: 1rem;
    text-transform: capitalize;
    display:block;
    padding: 0.5rem 1rem;

}

.links {
    height: 0;
    overflow:hidden;
    transition: all 0.3s linear;

}

.show-links {
    height: 10rem;
}

.hamburger div {
    cursor: pointer;
    width: 10px;
    height: 4px;
    margin: 3px;
    background: green;

}

/* 
///////////////////////////
////// index page///////////
///////////////////////////

*/

.home-section {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    border: 1px solid black;
    width: 80%;

    margin-top: 30px;
}

.home-section p,
.page-h1 p {
    margin-top:30px;
}



/* 
///////////////////////////
////// login page///////////
///////////////////////////

*/

.page-h1 {
    display:flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    

    margin-top: 30px;
}

.login-section,
.register-section {
    background: white ;
    border-radius: 5px;
    padding: 1rem;
    width: 80%;
    margin: 30px auto;
}

.form-section{
    display:flex;
    flex-direction: column;
    align-items: center;
    
    height: auto;
}

.form-section input {
    border-radius: 5px;
    padding: 0.1rem;
    width: 100px;
    
}
.form-section button {
    background: green;
    color: white;
    border: none;
    margin-top: 20px;
    padding: 0.75rem;
    border-radius: 5px;
}





.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;

}




@media screen and (min-width:785px) {

    .nav-center {
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }
    .nav-header {
        padding: 0;

    }

    .nav-toggle {
        display: none;
    }

    .links {
        height: auto;
        display: flex;
    }





}