* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(255, 255, 255);
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}

nav {
    color:white;
    background: rgb(54, 53, 53);
    
}

footer {
    color: white;
    background: rgb(54, 53, 53);
    width: 100%;
    padding: 1rem;
    position: fixed;
    
    bottom: 0;
    

}

.nav-header {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
}

.nav-toggle {

    cursor:pointer;

}

.nav-toggle:active {
    background: yellow;

}
.nav-toggle div {
    width: 20px;
    height: 4px;
    margin: 5px;
    background:rgb(255, 255, 255);
}
.links a {
    color: white;
    font-size: 1rem;
    text-transform: capitalize;
    display:block;
    padding: 0.5rem 1rem;

}

.links {
    height: 0;
    overflow:hidden;
    transition: all 0.3s linear;

}

.show-links {
    height: 10rem;
}



/* 
///////////////////////////
////// index page///////////
///////////////////////////

*/

.home-section {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    border: 1px solid black;
    width: 80%;

    margin-top: 30px;
}

.home-section p,
.page-h1 p {
    margin-top:30px;
}

/* 
///////////////////////////
////// home page///////////
///////////////////////////

*/
.blogit-osio {
    display: flex;
    flex-direction: column;
    
}


.blogit-otsikko {
    text-align: center;
    margin: 20px 0;
}

.single-blog {
    background: white;
    box-shadow: 5px 5px 10px rgb(110, 110, 110);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    
    width: 70%;
    margin: 10px auto;
    
    
    
}
.blogs-grid {
    margin-bottom: 100px;
}
.luonut {
    width: 80%;
    padding: 0.5rem 1rem;
    font-style: italic;
    
}
.blog {
    
    padding: 0.5rem 1rem;
    word-wrap: break-word;
}


/* 
///////////////////////////
////// login page///////////
///////////////////////////

*/

.page-h1 {
    display:flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    

    margin-top: 30px;
}

.login-section,
.register-section {
    background: white ;
    border-radius: 5px;
    padding: 1rem;
    width: 80%;
    margin: 30px auto;
}

.form-section{
    display:flex;
    flex-direction: column;
    align-items: center;
    
    height: auto;
}

.form-section input {
    border-radius: 5px;
    padding: 0.1rem;
    width: 100px;
    
}
.form-section button {
    background: green;
    color: white;
    border: none;
    margin-top: 20px;
    padding: 0.75rem;
    border-radius: 5px;
}





.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    

}




@media screen and (min-width:785px) {

    

    .nav-center {
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }
    .nav-header {
        padding: 0;

    }

    .nav-toggle {
        display: none;
    }

    .links {
        height: auto;
        display: flex;
    }
    

    .blogit-otsikko {
        margin: 50px 0;
        font-size: 2rem;
    }
    .blogs-grid {
        background: rgb(158, 155, 155, 0.2);
        border-radius: 10px;
        padding:1rem;
        display:grid;
        grid-template-columns: 30% 30% 30%;
        justify-content: center;
        
        width: 60%;
        margin: 10px auto 150px;
        
        
    }

    .single-blog {
        
        max-width: 70%;
        
    }

    
   




}